<!DOCTYPE html>
<html>
  <head>
    <title>연성대학교 도우미 봇(인터넷 채팅 버전)</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h4>연성대학교 홈페이지 입니다.</h4>
    <p>http://www.yeonsung.ac.kr</p>
  </body>
</html>
